.grille1{
    @include grille (1);
}
.grille2{
    @include grille (2);
}
.grille3{
    @include grille (3);
}
.grille4{
    @include grille (4);
}
.grille6{
    @include grille (6);
}
.grille7{
    @include grille (7);
}
.grille8{
    @include grille (8);
}
.grille12{
    @include grille (12);
}
.grille12-sm{
    @media ( min-width : 768px)  {
        @include grille (12);
    }
}