.separator {
  position: relative; }
  .separator::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: grey;
    bottom: 0;
    left: 0; }
