@font-face {
    font-family: 'BwLight';
    font-style: normal;
    font-weight: normal;
    src: local('Bw Modelica Light'), url('../src/font/BwModelica-Light.woff') format('woff');
}
    

@font-face {
font-family: 'BwLight Italic';
font-style: normal;
font-weight: normal;
src: local('Bw Modelica Light Italic'), url('../src/font/BwModelica-LightItalic.woff') format('woff');
}


@font-face {
font-family: 'BwRegular';
font-style: normal;
font-weight: normal;
src: local('Bw Modelica Regular'), url('../src/font/BwModelica-Regular.woff') format('woff');
}


@font-face {
font-family: 'BwItalic';
font-style: normal;
font-weight: normal;
src: local('Bw Modelica Regular Italic'), url('../src/font/BwModelica-RegularItalic.woff') format('woff');
}


@font-face {
font-family: 'BwHairline';
font-style: normal;
font-weight: normal;
src: local('Bw Modelica Hairline'), url('../src/font/BwModelica-Hairline.woff') format('woff');
}


@font-face {
font-family: 'Bw Modelica Hairline Italic';
font-style: normal;
font-weight: normal;
src: local('Bw Modelica Hairline Italic'), url('../src/font/BwModelica-HairlineItalic.woff') format('woff');
}


@font-face {
font-family: 'Bw Modelica Thin';
font-style: normal;
font-weight: normal;
src: local('Bw Modelica Thin'), url('../src/font/BwModelica-Thin.woff') format('woff');
}


@font-face {
font-family: 'Bw Modelica Thin Italic';
font-style: normal;
font-weight: normal;
src: local('Bw Modelica Thin Italic'), url('../src/font/BwModelica-ThinItalic.woff') format('woff');
}


@font-face {
font-family: 'Bw Modelica Medium';
font-style: normal;
font-weight: normal;
src: local('Bw Modelica Medium'), url('../src/font/BwModelica-Medium.woff') format('woff');
}


@font-face {
font-family: 'Bw Modelica Medium Italic';
font-style: normal;
font-weight: normal;
src: local('Bw Modelica Medium Italic'), url('../src/font/BwModelica-MediumItalic.woff') format('woff');
}


@font-face {
font-family: 'BwBold';
font-style: normal;
font-weight: normal;
src: local('Bw Modelica Bold'), url('../src/font/BwModelica-Bold.woff') format('woff');
}


@font-face {
font-family: 'BwBoldItalic';
font-style: normal;
font-weight: normal;
src: local('Bw Modelica Bold Italic'), url('../src/font/BwModelica-BoldItalic.woff') format('woff');
}


@font-face {
font-family: 'BwBoldExtra';
font-style: normal;
font-weight: normal;
src: local('Bw Modelica ExtraBold'), url('../src/font/BwModelica-ExtraBold.woff') format('woff');
}


@font-face {
font-family: 'Bw Modelica ExtraBold Italic';
font-style: normal;
font-weight: normal;
src: local('Bw Modelica ExtraBold Italic'), url('../src/font/BwModelica-ExtraBoldItalic.woff') format('woff');
}


@font-face {
font-family: 'Bw Modelica Black';
font-style: normal;
font-weight: normal;
src: local('Bw Modelica Black'), url('../src/font/BwModelica-Black.woff') format('woff');
}


@font-face {
font-family: 'Bw Modelica Black Italic';
font-style: normal;
font-weight: normal;
src: local('Bw Modelica Black Italic'), url('../src/font/BwModelica-BlackItalic.woff') format('woff');
}

