@font-face {
  font-family: 'BwLight';
  font-style: normal;
  font-weight: normal;
  src: local("Bw Modelica Light"), url("BwModelica-Light.woff") format("woff"); }

@font-face {
  font-family: 'BwLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Bw Modelica Light Italic"), url("BwModelica-LightItalic.woff") format("woff"); }

@font-face {
  font-family: 'BwRegular';
  font-style: normal;
  font-weight: normal;
  src: local("Bw Modelica Regular"), url("BwModelica-Regular.woff") format("woff"); }

@font-face {
  font-family: 'BwRegular Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Bw Modelica Regular Italic"), url("BwModelica-RegularItalic.woff") format("woff"); }

@font-face {
  font-family: 'BwHairline';
  font-style: normal;
  font-weight: normal;
  src: local("Bw Modelica Hairline"), url("BwModelica-Hairline.woff") format("woff"); }

@font-face {
  font-family: 'Bw Modelica Hairline Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Bw Modelica Hairline Italic"), url("BwModelica-HairlineItalic.woff") format("woff"); }

@font-face {
  font-family: 'Bw Modelica Thin';
  font-style: normal;
  font-weight: normal;
  src: local("Bw Modelica Thin"), url("BwModelica-Thin.woff") format("woff"); }

@font-face {
  font-family: 'Bw Modelica Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Bw Modelica Thin Italic"), url("BwModelica-ThinItalic.woff") format("woff"); }

@font-face {
  font-family: 'Bw Modelica Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Bw Modelica Medium"), url("BwModelica-Medium.woff") format("woff"); }

@font-face {
  font-family: 'Bw Modelica Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Bw Modelica Medium Italic"), url("BwModelica-MediumItalic.woff") format("woff"); }

@font-face {
  font-family: 'Bw Modelica Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Bw Modelica Bold"), url("BwModelica-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Bw Modelica Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Bw Modelica Bold Italic"), url("BwModelica-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: 'Bw Modelica ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local("Bw Modelica ExtraBold"), url("BwModelica-ExtraBold.woff") format("woff"); }

@font-face {
  font-family: 'Bw Modelica ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Bw Modelica ExtraBold Italic"), url("BwModelica-ExtraBoldItalic.woff") format("woff"); }

@font-face {
  font-family: 'Bw Modelica Black';
  font-style: normal;
  font-weight: normal;
  src: local("Bw Modelica Black"), url("BwModelica-Black.woff") format("woff"); }

@font-face {
  font-family: 'Bw Modelica Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Bw Modelica Black Italic"), url("BwModelica-BlackItalic.woff") format("woff"); }
