@mixin grille ($val:12) {
    display: grid;
    grid-template-columns: repeat($val,1fr);
    grid-column-gap: 20px;
    padding: 0;
    margin : 0 0 40px 0;
    @for $i from 1 through $val {
        
            .col#{$i} {
                grid-column: span $i;
                
                @for $j from 1 through $val {
                    &.startat#{$j} {
                        grid-column: $j / span $i;
                    } 
                }
            }
            @media ( min-width : 768px)  {
                .col-sm-#{$i} {
                    grid-column: span $i;
                    
                    @for $j from 1 through $val {
                        &.startat#{$j} {
                            grid-column: $j / span $i;
                        } 
                    }
                }
            }
        
            .startat#{$i} {
                grid-column: span $i;
            } 
    }
    li{
        padding: 0px;
        margin: 0px;
        display: inline-block;
    }
}
