.h1 {
  h4 {
    font-size: 12px;
  }
  p {
    font-size: 10px;
  }
}
@mixin titre($font: 34px) {
  h4 {
    height: 30px;
    margin: 25px 0;
    font-size: $font;
  }
  p {
    font-size: 15px;
  }
}

@mixin quote {
  font-size: 20px;
  font-family: BwItalic;
  padding: 25px 0 25px 55px;
  line-height: 35px;
  color: #2e2e2e;
}

@mixin surligne($fond: #818cff) {
  background: $fond;
  color: white;
  display: inline-block;
}

@mixin linear {
  background: linear-gradient(0.15turn, #79ccff 25%, #6270ff 75%);
}

@mixin backgroundlin($color1: red, $color2: yellow) {
  background: linear-gradient(45deg, $color1 20%, $color2 80%);
}

@mixin accordion {
  &.grillex {
    @include grille(12);
    .contenu {
      padding-top: 40px;
    }
  }
  .barside {
    p {
      padding: 20px 0 20px 30px;
      margin: 0;
      margin-top: 10px;
      background: #f1f6f9;
      position: relative;
      overflow: hidden;
      transition: 500ms;

      &:first-child {
        margin: 0;
      }
      color: #252525;
      font-family: Bw Modelica Medium;
      &::after {
        content: "";
        display: block;
        width: 8px;
        height: 100%;
        background: linear-gradient(to top, #79ccff, #6270ff);
        position: absolute;
        bottom: 0px;
        left: -8px;
      }
      &:hover {
        background: #6270ff;
        color: white;
        &::after {
          left: 0px;
          transition: 300ms;
        }
      }
      &.tabs-nav-item--active {
        background: #6270ff;
        color: white;
        &::after {
          left: 0px;
        }
      }
    }
  }
  .contenu {
    h2 {
      font-size: 30px;
      text-align: left;
      margin: 0;
    }
    p {
      font-size: 15px;
      color: #838383;
      line-height: 30px;
      margin: 0;
      &.about {
        text-transform: uppercase;
        margin: 0 0 15px;
      }
    }
    .asda {
      background: #f1f6f9;
      height: 250px;
    }
    &.tabs-content--inactive {
      display: none;
    }
  }
}
@mixin boxes($state: "normal", $border: "none") {
  color: white;
  padding: 40px 15px;
  margin-bottom: 20px;
  p {
    color: white;
  }
  display: flex;
  .etat {
    height: 100%;
    padding-right: 15px;
    padding-left: 20px;
    i {
      display: block;
      height: 100%;
      font-size: 30px;
    }
  }
  .content {
    h3 {
      font-size: 20px;
      margin: 0;
    }
    p {
      margin: 20px 0 0;
      font-size: 15px;
    }
  }
  @if ($state == "success") {
    background: $bleu;
    @if ($border == "with") {
      background: white;
      border: 1px solid $bleu;
      color: black;
      i {
        color: $bleu;
      }
      p {
        color: black;
      }
    }
  } @else if ($state == "wrong") {
    background: $red;
    @if ($border == "with") {
      background: white;
      border: 1px solid $red;
      color: black;
      i {
        color: $red;
      }
      p {
        color: black;
      }
    }
  } @else if ($state == "warning") {
    background: $violet;
    @if ($border == "with") {
      background: white;
      border: 1px solid $violet;
      color: black;
      i {
        color: $violet;
      }
      p {
        color: black;
      }
    }
  } @else if ($state == "info") {
    background: $jaune;
    @if ($border == "with") {
      background: white;
      border: 1px solid $jaune;
      color: black;
      i {
        color: $jaune;
      }
      p {
        color: black;
      }
    }
  } @else {
    background: grey;
    @if ($border == "with") {
      background: white;
      border: 1px solid grey;
      color: black;
      i {
        color: grey;
      }
      p {
        color: black;
      }
    }
  }
}

@mixin elements {
  margin-bottom: 50px;
  .titre {
    p {
      text-align: center;
    }
  }
  .content {
    display: flex;
    justify-content: space-between;

    .choix {
      width: 100%;
      display: flex;
      align-items: center;
      border: 1px solid black;
      margin-bottom: 10px;
      border: 3px solid grey;
      .dedier {
        display: inline-block;
        padding: 0 30px;
      }
      .point {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: gray;
      }
      p {
        flex-grow: 1;
      }
      .state {
        display: block;
        width: 10px;
        height: 10px;
        position: relative;
        &::before {
          content: "";
          display: block;
          width: 10px;
          height: 1px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          background: black;
        }
        &::after {
          content: "";
          display: block;
          width: 1px;
          height: 10px;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          background: black;
        }
      }
      &.active {
        border: 3px solid transparent;
        border-image: $linear;
        border-image-slice: 1;
        .point {
          @include linear;
        }
        .state {
          &::after {
            display: none;
          }
        }
      }
    }
    .choice {
      width: 30%;
    }
    .result {
      width: 65%;
      .text {
        margin: 20px 0;
      }
    }
  }
}
