.separator{
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 35px;
    &::after{
        content: '';
        display: block;
        position: absolute;
        width: 60px;
        height: 2px;
        background: #6270ff;
        bottom: 0;
        left: 50%;
        transform: translateX(-30px);
    }
    
}
.separator-verti{
    position: relative;
    padding-top: 70px;
    &::after{
        content: '';
        display: block;
        position: absolute;
        width: 2px;
        height: 60px;
        background: #6270ff;
        top: 0;
        left: 50%;
        transform: translateX(-1px);
    }
}