@import "common/mixins/mixin.scss";
@import "common/mixins/grid";
@import "components/grille.scss";
@import "../font/fonts.scss";
@import "common/utils/_variables.scss";
@import "common/utils/_separator.scss";

a {
  color: black;
  text-decoration: none;
}
body {
  margin: 0;
  font-family: BwRegular;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
iframe {
  border: none;
  width: 100%;
  height: 73px;
  display: block;
}
.qaqa {
  height: 54px;
}
/**_________________________________________________________________________
Header
__________________________________________________________________________*/

header {
  display: flex;
  figure {
    flex-grow: 1;
    margin: 25px auto auto 25px;
  }
  ul {
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    list-style-type: none;
    a {
      text-align: center;
      li {
        display: inline-block;
        padding-top: 25px;
        height: 100%;
      }
    }
    .select {
      position: relative;
      &:before {
        content: "";
        display: inline-block;
        width: calc(100% + 10px);
        height: 4px;
        background: linear-gradient(
          to right,
          rgba(98, 113, 255, 1),
          rgba(121, 203, 255, 1)
        );
        position: absolute;
        bottom: 0px;
        left: -5px;
      }
    }
  }
  .number {
    display: flex;
    align-items: center;
    img {
      background: #6270ff;
      height: 23px;
      padding: 25px;
      margin-right: 20px;
      display: inline-block;
    }
    padding-right: 15px;
  }
}

/**_________________________________________________________________________
Main
__________________________________________________________________________*/

main {
  h1 {
    padding: 60px 0 60px;
    text-align: center;
    background: #444dad;
    color: white;
    font-size: 72px;
    font-family: BwBold;
    margin: 0 0 50px;
  }
  h2 {
    text-align: center;
    font-family: BwBold;
    font-size: 34px;
    margin: 0 0 50px;
  }
  h4 {
    font-family: BwBold;
    font-size: 24px;
  }
  p {
    font-size: 15px;
    color: #838383;
    line-height: 25px;
  }
}

/**_________________________________________________________________________
Footer
__________________________________________________________________________*/

footer {
  background: #03062f;
  .container {
    display: flex;
    justify-content: space-between;
    color: #6270ff;
    img {
      margin-right: 10px;
    }
    ul {
      display: flex;
      width: 25%;
      justify-content: space-around;
      li {
        list-style-type: none;
      }
    }
  }
}

/**_________________________________________________________________________
Typography
__________________________________________________________________________*/

main {
  .h1 {
    @include titre(34px);
  }
  .h2 {
    @include titre(30px);
  }
  .h3 {
    @include titre(24px);
  }
  .h4 {
    @include titre(20px);
  }
  .h5 {
    @include titre(16px);
  }
  .h6 {
    @include titre(14px);
  }

  .quote {
    @include quote;
  }

  .relative {
    position: relative;
  }

  .quote0 {
    font-size: 214px;
    position: absolute;
    font-family: BwBold;
    top: -30px;
    line-height: normal;
    margin: 0px;
    background: -webkit-linear-gradient(#9b74ff 20%, #79ccff 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.7;
  }

  .quote01 {
    font-size: 214px;
    position: absolute;
    font-family: BwBold;
    top: -30px;
    line-height: normal;
    margin: 0px;
    opacity: 0.1;
  }

  .quote1 {
    border-left-width: 3px;
    border-left-style: solid;
    border-image: linear-gradient(to top, #79ccff, #9b74ff) 1 100%;
  }
  .quote2 {
    position: absolute;
  }
  .quote3 {
    &::first-letter {
      color: #6270ff;
      font-size: 60px;
    }
    margin-top: 5px;
  }
  .quote4 {
    position: absolute;
  }
  .surbleu {
    @include surligne;
  }
  .surrose {
    @include surligne(#ff206f);
  }
  .bleu {
    color: #818cff;
    display: inline-block;
    font-family: BwBold;
    font-weight: normal;
  }

  .Dropcaps {
    margin-bottom: 100px;
    .col1 {
      display: flex;
      span {
        box-sizing: border-box;
        height: 62px;
        width: 62px;
        float: left;
        text-align: center;
        line-height: 0px;
        padding-top: 31px;
        font-family: BwBold;
        font-size: 60px;

        &.d1 {
          height: 70px;
          width: 95px;
          color: #818cff;
        }
        &.d2 {
          margin: 4px 17px 4px 16px;
          font-size: 36px;
          background: linear-gradient(to right, #79ccff, #9b74ff);
          color: white;
        }
        &.d3 {
          height: 70px;
          width: 95px;
          font-family: BwBoldItalic;
          background: -webkit-linear-gradient(#9b74ff, #79ccff);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &.d4 {
          margin: 4px 17px 4px 16px;
          font-size: 36px;
          @include linear;
          color: white;
          border-radius: 50%;
        }
      }
    }
  }
}

/**_________________________________________________________________________
Headlines
__________________________________________________________________________*/
.petitgrise {
  font-size: 18px;
  color: #838383;
  text-align: center;
  font-weight: 300;
}
.petitnoir {
  font-size: 16px;
  color: black;
  text-align: center;
  font-weight: 300;
}
.wonder {
  font-size: 12px;
  color: #838383;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}
p {
  &.textinfo {
    font-size: 18px;
    color: #838383;
    text-align: center;
    padding: 0 150px;
  }
}
h3 {
  font-size: 48px;
  text-align: center;
  margin: 0;
}
h5 {
  font-size: 35px;
  text-align: center;
  margin: 0;
}
span {
  &.colorblue {
    color: $bleu;
  }
}
.fas,
.far {
  display: block !important;
  text-align: center;
  font-size: 35px;
  color: lightgrey;
}
.black {
  color: black;
}
.colorlinear {
  background: linear-gradient(to right, #79ccff, #9b74ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.premiercoeur {
  background: linear-gradient(to right, #79ccff, #9b74ff);
  color: white;
  padding: 20px;
  border-radius: 50%;
}
.secondcoeur {
  padding: 20px;
  border-radius: 50%;
  position: relative;
  background: white;
  
  &::before {
    background: linear-gradient(to right, #79ccff, #9b74ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &::after {
    content: "";
    width: 79px;
    height: 79px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    background: linear-gradient(to right, #79ccff, #9b74ff);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.highlight-linear {
  background: linear-gradient(to right, #79ccff, #9b74ff);
  color: white;
  padding: 5px 40px;
}

span.highlight-linear{
  padding: 5px;
}

.center-flex{
  justify-content: center !important;
  align-items: center;
}
.create{
  font-size: 24px;
  padding-right: 20px;
}
.away{
  padding-left: 20px;
}

/**_________________________________________________________________________
Button
__________________________________________________________________________*/

main {
  .titrebutton {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
  }
  .button {
    display: flex;
    justify-content: center;
    p {
      margin: 0;
      padding: 20px 0;
      text-transform: uppercase;
      font-size: 12px;
      font-family: BwBoldExtra;
    }
    i {
      padding: 26px 0 20px 15px;
      font-size: 12px;
    }
  }
  .l1 {
    .btn1 {
      @include linear;
      color: white;
      p {
        color: white;
      }
      box-shadow: 0px 10px 20px #a0a0a0;
    }
    .btn2 {
      @extend .btn1;
      box-shadow: none;
    }
    .btn3 {
      background: $bleu;
      color: white;
      p {
        color: white;
      }
    }
    .btn4 {
      border: 2px solid transparent;
      border-image: $linear;
      border-image-slice: 1;
      p {
        color: $black;
      }
      i {
        background: -webkit-linear-gradient(0.6turn, #9b74ff 25%, #79ccff 45%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  .l2 {
    .btn1 {
      @include linear;
      color: white;
      p {
        color: white;
      }
      border: 7px solid $bleu;
    }
    .btn2 {
      @extend .btn1;
      border: 7px solid transparent;
      border-image: linear-gradient(to right, #d0edff, #c8cdff);
      border-image-slice: 1;
    }
    .btn3 {
      background: $black;
      p {
        color: white;
      }
      i {
        display: none;
      }
      border: 7px solid transparent;
      border-image: linear-gradient(to right, #a1dbff, #919bff);
      border-image-slice: 1;
    }
    .btn4 {
      border: 7px solid transparent;
      border-image: $linear;
      border-image-slice: 1;
      p {
        color: $black;
      }
      i {
        background: -webkit-linear-gradient(0.6turn, #9b74ff 25%, #79ccff 45%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  .l3 {
    .btn1 {
      p {
        @include linear;
        width: 79%;
        text-align: center;
        color: white;
      }
      i {
        width: 20%;
        text-align: center;
        padding-left: 0px;
        background: $bleu;
        margin-left: 3px;
        color: white;
      }
    }
    .btn2 {
      p {
        background: -webkit-linear-gradient(-0.5turn, #6270ff, #79ccff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      i {
        background: -webkit-linear-gradient(0.6turn, #9b74ff 25%, #79ccff 45%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      //before border exept bot ????
      //after border exept top  ????
    }
    .btn3 {
      p {
        color: $black;
      }
      i {
        display: none;
      }
      border: 2px solid transparent;
      border-image: linear-gradient(to right, #a1dbff, #919bff);
      border-image-slice: 1;
      border-left: none;
      border-right: none;
    }
    .btn4 {
      border: 2px solid $bleu;
      box-shadow: 0px 6px 0px -2px white, 0px 6px 0px $bleu;
      p {
        color: $black;
      }
      i {
        background: -webkit-linear-gradient(0.6turn, #9b74ff 25%, #79ccff 45%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  .l4 {
    .btn1 {
      border: 2px solid $black;
      color: $black;
      p {
        color: $black;
      }
      box-shadow: 7px 6px 0px -2px white, 7px 6px 0px rgb(0, 0, 0);
    }
    .btn2 {
      border: 2px solid $black;
      color: $black;
      p {
        color: $black;
      }
    }
    .btn3 {
      border: 2px solid $bleu;
      color: $bleu;
      p {
        color: $bleu;
      }
    }
    .btn4 {
      color: $black;
      p {
        color: $black;
      }
      box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
    }
  }
  .l5 {
    .btn1 {
      p {
        color: $black;
      }
      i {
        display: none;
      }
      border-bottom: 2px solid transparent;
      border-image: linear-gradient(to right, #a1dbff, #919bff);
      border-image-slice: 1;
    }
    .btn2 {
      background: $black;
      p {
        background: -webkit-linear-gradient(-0.5turn, #6270ff, #79ccff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      i {
        display: none;
      }
      border: 7px solid transparent;
      border-image: linear-gradient(to right, #a1dbff, #919bff);
      border-image-slice: 1;
    }
    .btn3 {
      border: 7px solid transparent;
      border-image: linear-gradient(to right, #d0edff, #c8cdff);
      border-image-slice: 1;
      background: $linear;
      p {
        background: white;
        width: 80%;
        text-align: center;
        color: $black;
        margin: 2px 0 2px 2px;
      }
      i {
        width: 20%;
        text-align: center;
        padding-left: 0px;
        background: white;
        color: $black;
        margin: 2px 2px 2px 0px;
      }
    }
    .btn4 {
      p {
        border: 2px solid $black;
        width: 79%;
        text-align: center;
        color: $black;
      }
      i {
        border: 2px solid $black;
        width: 20%;
        text-align: center;
        padding-left: 0px;
        background: white;
        margin-left: 3px;
        color: $black;
      }
    }
  }
  .square {
    .btn1 {
      border-radius: $radius;
      p {
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
      }
      i {
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
      }
    }
    .btn2 {
      border-radius: $radius;
      p {
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
      }
      i {
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
      }
    }
    .btn3 {
      border-radius: $radius;
      p {
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
      }
      i {
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
      }
    }
    .btn4 {
      border-radius: $radius;
      p {
        border-radius: $radius;
      }
      i {
        border-radius: $radius;
      }
    }
  }
  .rounded {
    .btn1 {
      border-radius: $radius2;
      p {
        border-top-left-radius: $radius2;
        border-bottom-left-radius: $radius2;
      }
      i {
        border-top-right-radius: $radius2;
        border-bottom-right-radius: $radius2;
      }
    }
    .btn2 {
      border-radius: $radius2;
      p {
        border-top-left-radius: $radius2;
        border-bottom-left-radius: $radius2;
      }
      i {
        border-top-right-radius: $radius2;
        border-bottom-right-radius: $radius2;
      }
    }
    .btn3 {
      border-radius: $radius2;
      p {
        border-top-left-radius: $radius2;
        border-bottom-left-radius: $radius2;
      }
      i {
        border-top-right-radius: $radius2;
        border-bottom-right-radius: $radius2;
      }
    }
    .btn4 {
      border-radius: $radius2;
      p {
        border-radius: $radius2;
      }
      i {
        border-radius: $radius2;
      }
    }
  }
}
/**_________________________________________________________________________
Gradients
__________________________________________________________________________*/

.gradients {
  .col1 {
    height: 470px;
  }
  .deg1 {
    @include backgroundlin(#79ccff, #9b74ff);
  }
  .deg2 {
    @include backgroundlin(#1affec, #9f4ff9);
  }
  .deg3 {
    @include backgroundlin(#ff4646, #ff26d9);
  }
  .deg4 {
    @include backgroundlin(#79ff8f, #7b74ff);
  }
  .deg5 {
    @include backgroundlin(#ffce3a, #ff0e69);
  }
  .deg6 {
    @include backgroundlin(#ffce79, #9b74ff);
  }
  .deg7 {
    @include backgroundlin(#de9285, #6866ff);
  }
  .deg8 {
    @include backgroundlin(#79ff7c, #ffbd4a);
  }
  .deg9 {
    @include backgroundlin(#00fff0, #d322ff);
  }
  .deg10 {
    @include backgroundlin(#ff2d72, #ffab79);
  }
  .deg11 {
    @include backgroundlin(#ff18ab, #6e03ff);
  }
  .deg12 {
    @include backgroundlin(#00ffd8, #007eff);
  }
}
/**_________________________________________________________________________
Accordions
__________________________________________________________________________*/
.accordion1 {
  @include accordion;
}
.accordion2 {
  @include accordion;
  &.grillex {
    .col3 {
      grid-column: span 2;
    }
    .col9 {
      grid-column: span 10;
    }
  }
}
.accordion3 {
  @include accordion;
  &.grillex {
    .col3 {
      grid-column: span 12;
    }
    .col9 {
      grid-column: span 12;
    }
  }
  .barside {
    display: flex;
    justify-content: space-between;
    p {
      width: 15%;
      padding-right: 0px;
      padding-left: 0px;
      text-align: center;
      &:first-child {
        margin-top: 10px;
      }
    }
  }
}
.accordion4 {
  @include accordion;
  &.grillex {
    .col3 {
      grid-column: span 12;
      background: #f1f6f9;
    }
    .col9 {
      grid-column: span 12;
      .titre {
        .col1 {
          grid-column: span 2;
          text-align: center;
          h2 {
            text-align: center;
          }
        }
      }
    }
  }
  .barside {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 10px;
    p {
      background: white;
      width: 13%;
      padding: 15px 0;
      text-align: center;
      &:first-child {
        margin-top: 10px;
      }
    }
  }
}

.onglet {
  @include grille(11);
  justify-content: space-between;
  .accordion5 {
    grid-column: span 5;
  }
  .accordion6 {
    grid-column: span 5;
  }
}
.accordion5 {
  @include accordion;
  &.grillex {
    display: flex;
    flex-direction: column;
    .col9 {
      flex-grow: 1;
      .titre {
        .col1 {
          grid-column: span 2;
        }
      }
      .textcontenu {
        .col1 {
          grid-column: span 2;
        }
      }
      .none {
        display: none;
      }
    }
  }
  .contenu {
    background: #f1f6f9;
    padding: 40px 40px;
  }
  .barside {
    display: flex;
    justify-content: space-around;
    p {
      width: 30%;
      padding-right: 0px;
      padding-left: 0px;
      text-align: center;
      background: $bleu;
      color: white;
      &.active {
        color: black;
        background: #f1f6f9;
      }
      &:first-child {
        margin-top: 10px;
      }
    }
  }
}

.accordion6 {
  @include accordion;
  &.grillex {
    display: flex;
    flex-direction: column;
    .col9 {
      .titre {
        .col1 {
          grid-column: span 2;
        }
      }
    }
  }
  .contenu {
    padding: 40px 40px;
  }
  .barside {
    display: flex;
    justify-content: space-around;
    p {
      width: 30%;
      padding-right: 0px;
      padding-left: 0px;
      text-align: center;
      background: $bleu;
      color: white;
      &.active {
        color: black;
        background: white;
        border: 2px solid #f1f6f9;
        border-bottom: none;
        position: relative;
        box-sizing: border-box;
        overflow: visible;
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background: white;
          position: absolute;
          bottom: -2px;
          left: 0;
        }
        &::after {
          background: none;
        }
      }
      &:first-child {
        margin-top: 10px;
      }
    }
  }
  .contenu {
    padding: 40px 40px;
    border: 2px solid #f1f6f9;
  }
}
.accordion7 {
  @include accordion;
  &.grillex {
    .col3 {
      grid-column: span 12;
      background: black;
      padding: 0;
      p {
        color: white;
        background: black;
        margin: 0;
      }
    }
    .col9 {
      grid-column: span 12;
      .titre {
        .col1 {
          grid-column: span 2;
          text-align: center;
          h2 {
            text-align: center;
          }
        }
      }
    }
  }
  .barside {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 10px;
    p {
      flex-grow: 1;
      width: 13%;
      padding: 30px 0;
      text-align: center;

      &.active {
        background: #6270ff;
      }
    }
  }
}
.accordion8 {
  @include accordion;
  &.grillex {
    .col3 {
      grid-column: span 12;
      padding: 0;
      display: flex;
      justify-content: space-evenly;
      p {
        margin: 0;
        padding: 0;
        width: 24%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        color: white;
        height: 150px;
        &.active {
          background: #6270ff;
        }
      }
    }
    .titre {
      .col1 {
        grid-column: span 2;
        text-align: center;
        h2 {
          text-align: center;
        }
      }
    }
  }
}

.elements1 {
  @include elements;
}
.elements2 {
  @include elements;
  .content {
    .choix {
      background: #f1f6f9;
      border: none;
      &.active {
        background: $linear;
        p {
          color: white;
        }
        .point {
          background: white;
        }
        .state {
          &::before {
            background: white;
          }
        }
      }
    }
  }
}
.boxes {
  @include boxes;
  &_success {
    @include boxes("success");
    &-border {
      @include boxes("success", "with");
      &.center {
        justify-content: center;
      }
    }
    &.center {
      justify-content: center;
    }
  }
  &_wrong {
    @include boxes("wrong");
    &-border {
      @include boxes("wrong", "with");
      &.center {
        justify-content: center;
      }
    }
    &.center {
      justify-content: center;
    }
  }
  &_warning {
    @include boxes("warning");
    &-border {
      @include boxes("warning", "with");
      &.center {
        justify-content: center;
      }
    }
    &.center {
      justify-content: center;
    }
  }
  &_info {
    @include boxes("info");
    &-border {
      @include boxes("info", "with");
      &.center {
        justify-content: center;
      }
    }
    &.center {
      justify-content: center;
    }
  }
}
.image {
  background-image: url(../src/images/rose-blue.jpeg);
  img {
    width: 100%;
    display: block;
  }
}
.collee {
  grid-column-gap: 0;
  margin: 0;
  &:nth-child(2n) {
    margin-bottom: 20px;
  }
}

.aucentre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.information {
  width: 60%;
}

.threepages {
  padding: 40px 0;
  display: flex;
  justify-content: space-evenly;
  background: rgb(235, 235, 235);
  .page {
    transition: 500ms;
    &:hover {
      box-shadow: 0px 10px 20px #a0a0a0;
    }
    padding-bottom: 10px;
    width: 20%;
    background: white;
    .content {
      padding: 0 10px;
      a {
        font-weight: bold;
        font-size: 15px;
      }
    }
  }
}

.flex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.backtest {
  width: 100px;
  height: 50px;
  background: linear-gradient(pink, magenta);
  border-radius: 20px;
  border: 7px solid transparent;
  border-image: linear-gradient(to right, green, yellow);
  border-image-slice: 1;
}
.backtest2 {
  width: 100px;
  height: 50px;
  background: linear-gradient(pink, magenta);
  border-radius: 2000px;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 104px;
    height: 54px;
    background: linear-gradient(to left, green, yellow);
    position: absolute;
    border-radius: 2000px;
    top: -2px;
    left: -2px;
    z-index: -1;
  }
}
